
<table mat-table [dataSource]="books$ | async" class="mat-elevation-z8 audiobookTable">
  <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

  <!-- title Column -->
  <ng-container matColumnDef="position">
    <th mat-header-cell *matHeaderCellDef>Titel</th>
    <td mat-cell *matCellDef="let audiobook">{{ audiobook.title }}</td>
  </ng-container>

  <!-- series Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>Buchreihe</th>
    <td mat-cell *matCellDef="let audiobook">{{ audiobook.series }}</td>
  </ng-container>

  <!-- account Column -->
  <ng-container matColumnDef="weight">
    <th mat-header-cell *matHeaderCellDef>Audible Shop</th>
    <td mat-cell *matCellDef="let audiobook">
      <img src="{{ audiobook.account }}" class="account-img" />
    </td>
  </ng-container>

  <!-- deleted Column -->
  <ng-container matColumnDef="symbol">
    <th mat-header-cell *matHeaderCellDef>Zurückgegeben</th>
    <td mat-cell *matCellDef="let audiobook">
      <div *ngIf="audiobook.deleted">
        <mat-icon aria-hidden="false" aria-label="Example home icon"
          >check_circle_outline</mat-icon
        >
      </div>
      <div *ngIf="!audiobook.deleted">
        <mat-icon aria-hidden="false" aria-label="Example home icon"
          >highlight_off</mat-icon
        >
      </div>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>

<div class="legende">
  <span class="legendeSpan"><img src="../../assets/images/de.svg" class="legendeImg" />: audible.de</span>
  <span class="legendeSpan"><img src="../../assets/images/us.svg" class="legendeImg" />: audible.com</span>
  <span class="legendeSpan"><img src="../../assets/images/uk.svg" class="legendeImg" />: audible.co.uk</span>
  <span class="legendeSpan"><img src="../../assets/images/aus.svg" class="legendeImg" />: audible.com.au</span>
  <span class="legendeSpan"><img src="../../assets/images/ca.svg" class="legendeImg" />: audible.ca</span>
  <span class="legendeSpan"><img src="../../assets/images/fr.svg" class="legendeImg" />: audible.fr</span>
</div>
